PORT = 3000

# MySQL connection
MYSQL_HOST = 'localhost'
MYSQL_USER = nombre de usuario de la base de datos de MySQL
MYSQL_PASSWORD = contraseña de la base de datos de MySQL
MYSQL_DB = nombre de la base de datos de MySQL
