.text-reservacion{
    font-size: 30px;
    font-weight: 500;
    color: #0f3973; 
}

.container-form{
    height: 230px;
    background-color: #0f3973;
}

.text-form{
    color: white;
    font-weight: 500;
}

/*Estilo de reservas.html*/
.contenedor-reservas{
    padding-top: 20px;
    padding-left: 20px;
    background-color: #dcdcdc;
    height: 400px;
    width: 1290px;
    margin-left: 30px;
}

.contenedor-reservas-form{
    background-color: #ecebea;
    height: 300px;
    color: #414b5f;
}
#contenedor{
    margin-top: 60px;
}

.boton-form {
    background-color: #66bb33;
    font-weight: 500;
    color: white;
    border-color: transparent;
}

.boton-form:hover {
    background-color: #79c44d;
    font-weight: 500;
    color: white;
}