.container {
    text-align: center;
    margin-top: 200px;
    place-items: center;
    background-color: white;
    padding-top: 40px;
    width: 600px;
    padding-bottom: 50px;
    border-radius: 10px;
    
   
    
   
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom, #2d6dc7 0%, #0f3973 100%);
    background-attachment: fixed;
    background-size: cover;
}
.texto{
    font-size: 250%;
    padding-bottom: 30px;
}
.imagen{
    padding-left: 20%;
}

.logo_user{
    margin-top: -15px;
    margin-bottom: 15px;
}


