<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Admin - RentEasy</title>
</head>

<body>
    <%-  include('partials/sidebar') %>
        <section id="content">
            <%- include('partials/admin-nav') %>
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Panel de Control</h1>
                        <ul class="breadcrumb">
                            <li>
                                <a href="#">Panel de Control</a>
                            </li>
                            <li><i class='bx bx-chevron-right'></i></li>
                            <li>
                                <a class="active" href="#">Inicio</a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="btn-download">
                        <i class='bx bxs-cloud-download'></i>
                        <span class="text">Descargar PDF</span>
                    </a>
                </div>

                <ul class="box-info">
                    <li>
                        <i class='bx bxs-calendar-check'></i>
                        <span class="text">
                            <h3>1020</h3>
                            <p>Nuevos Pedidos</p>
                        </span>
                    </li>
                    <li>
                        <i class='bx bxs-group'></i>
                        <span class="text">
                            <h3>2834</h3>
                            <p>Visitantes</p>
                        </span>
                    </li>
                    <li>
                        <i class='bx bxs-dollar-circle'></i>
                        <span class="text">
                            <h3>$2543</h3>
                            <p>Ventas Totales</p>
                        </span>
                    </li>
                </ul>


                <div class="table-data">
                    <div class="order">
                        <div class="head">
                            <h3>Pedidos Recientes</h3>
                            <i class='bx bx-search'></i>
                            <i class='bx bx-filter'></i>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Fecha de Pedido</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="/img/logo_user.png">
                                        <p>Juan Perez</p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td><span class="status completed">Completado</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/logo_user.png">
                                        <p>Juan Perez</p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td><span class="status pending">Pendiente</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/logo_user.png">
                                        <p>Juan Perez</p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td><span class="status canceled">Cancelado</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="sales">
                        <div class="head">
                            <h3>Ventas Recientes</h3>
                            <i class='bx bx-search'></i>
                            <i class='bx bx-filter'></i>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Fecha de Venta</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="/img/logo_user.png">
                                        <p>Producto 1</p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td><span class="status completed">Completado</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/logo_user.png">
                                        <p>logo_user.pngo 2</p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td><span class="status pending">Pendiente</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/logo_user.png">
                                        <p>Producto 3</p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td><span class="status canceled">Cancelado</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </section>
        <script src="/js/dashboard.js"></script>
</body>

</html>