<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>RentEasy Autos</title>
  <link rel="shortcut icon" href="img/Logo.jpg" type="image/x-icon">
</head>

<body>
  <%- include('partials/header') %>
  <div>
    <img class="banner1" src="img/bannerLarge.png" alt="Banner-RentEasy-Car" width="100%">
  </div>

  <div class="container-fluid">
    <br>
    <img class="ms-5" src="img/lupa.png" alt="iconolupa" width="35"><span class="text-reservacion">&nbsp;Realizar una
      reservación</span>

    <form class="container rounded container-form mt-3" post="/api/v1/new-reservation">
      <div class="row">

        <div class="form-rent-data">
          <div class="col-12 mt-3">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label text-form" for="flexCheckDefault">
                DEVOLVER A UNA OFICINA DIFERENTE
              </label>
            </div>

            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Buscar oficina, aeropuerto, código postal</option>
                <% array.forEach(function(offices) { %>
                  <option value="<%= offices.id %>">
                    <%= offices.name %>
                  </option>
                  <% }) %>
              </select>
              <label for="floatingSelect">OFICINA DE RECOGIDA</label>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-4">
            <label for="inputFechaRecogida" class="form-label text-form">FECHA DE RECOGIDA:</label>
            <input type="date" id="inputFechaRecogida" class="form-control">
          </div>

          <div class="col-4">
            <label for="inputFechaDevolucion" class="form-label text-form">FECHA DE DEVOLUCION:</label>
            <input type="date" id="inputFechaDevolucion" class="form-control">
          </div>

          <div class="col-2">
            <label for="inputEdadConductor" class="form-label text-form">EDAD CONDUCTOR:</label>
            <input type="number" id="inputEdadConductor" class="form-control" min="18">
          </div>

          <div class="col-2">
            <button class="pt-2 pb-2 mt-4 rounded boton-form" type="submit">&nbsp;&nbsp;&nbsp;Buscar
              Vehiculos&nbsp;&nbsp;&nbsp;</button>
          </div>
        </div>
      </div>

      <div class="form-rates">
        
      </div>
        
      </div>

    </form>

  </div>

  <div class="mt-4">
    <a href="http://localhost:3000/reservations">
      <img src="img/banner2.png" alt="banner2" width="100%">
    </a>
  </div>

  <div class="container-fluid">
    <h2 style="color: #0f3973;" class="text-center mt-3">Nos ponemos en contacto:</h2>
    <p style="font-size: 20px;" class="text-center">Déjanos tus datos y uno de nuestros agentes se pondrá en contacto
      para atenderte personalmente y asistirte en tu reserva.</p>
    <div style="height: 400px; background-color: #2d6dc7;" class="container rounded">

      <label for="contactoNombre" class="form-label text-form mt-2">Nombre</label>
      <input type="text" class="form-control" id="contactoNombre">

      <label for="contactoEmail" class="form-label text-form mt-2">Correo electrónico</label>
      <input type="email" class="form-control" id="contactoEmail">

      <label for="contactoTelefono" class="form-label text-form mt-2">Número de teléfono</label>
      <input type="text" class="form-control" id="contactoTelefono">

      <p class="text-form mt-2">Por qué medio deseas ser contactado</p>
      <select class="form-select" aria-label="Default select example">
        <option selected>Seleccione una opción</option>
        <option value="1">WhatsApp</option>
        <option value="2">Correo</option>
        <option value="3">Llamada</option>
      </select>

      <button class="mt-3 pt-2 pb-2" type="submit"
        style="display: block; margin: 0 auto;">&nbsp;&nbsp;&nbsp;Enviar&nbsp;&nbsp;&nbsp;</button>

      </form>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script>

  </script>
</body>

</html>