<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_inicio.css">

    <title>Inico de sesion</title>
</head>
<body>

  <style>

    .message {
        background-color: #f8d7da;
        color: #721c24;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-align: center;
        margin: 1rem 30%;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        background-color: #f9f9f9;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 2rem 30%;
    }

    .title {
        font-weight: 500;
    }

    .form-element {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .form-element label {
        font-weight: 500;
    }

    .form-element input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        width: 100%;
    }

    .btn-send {
        padding: 0.5rem 1rem;
        background-color: #0f3973;
        color: white;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .btn-send:hover {
        background-color: #0c325b;
    }
  </style>
  <%- include('partials/header') %>
  <% if (message) { %>
    <p class="message"><%= message %></p>
  <% } %>
    <form action="/login" method="post" class="form">
        <h2 class="title">Iniciar sesión</h2>
        <div class="form-element">
            <label for="username">Nombre de usuario</label>
            <input type="username" id="username" name="username" required>
        </div>
        <div class="form-element">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn-send">Iniciar sesión</button>
    </form>
    
    <%- include('partials/footer') %>

    <script>
      
        
    </script>
</body>
</html>