<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>RentEasy Autos | Reservas</title>
    <link rel="shortcut icon" href="../img/Logo.jpg" type="image/x-icon">
</head>
<body>

    <%- include('partials/header') %>
    
    <div>
        <img class="mb-3 mt-5" src="../img/bannerReservas.png" alt="Banner-RentEasy-Car" width="100%">
      </div>

      <img class="ms-5" src="../img/lupa.png" alt="iconolupa" width="35"><span class="text-reservacion">&nbsp;Realizar una reservación</span>
      <div class="mt-3 contenedor-reservas">
        <h2>Reservas existentes</h2>
      <div class="container border contenedor-reservas-form mt-3">
            <form>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="reservaNombre" class="form-label">Nombre:</label>
                        <input type="text" id="reservaNombre" class="form-control" min="18">
                      </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="reservaNombre" class="form-label">Apellidos:</label>
                        <input type="text" id="reservaNombre" class="form-control" min="18">
                      </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="reservaNombre" class="form-label">Numero de reserva:</label>
                        <input type="text" id="reservaNombre" class="form-control" min="18">
                      </div>
                </div>
                <button class="mt-3 pt-2 pb-2" type="submit" style="display: block; margin: 0 auto; background-color: #2365c2; color: white; font-weight: 500;">&nbsp;&nbsp;&nbsp;Enviar&nbsp;&nbsp;&nbsp;</button>
            </form>
        </div>
      </div>

    <!--footer-->
    <%- include('partials/footer'); %>
</body>
</html>